body {
  background-image: url("/images/bg.jpg");
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

section {
  border-style: solid;
  border-width: 1px 0px 1px 0px;
}

article {
  border: 2px solid #ffffff;
  padding: 7px;
  margin: 20px;
  background-color: #e5f5ff;
}

a {
  color: #00B7FF;
}